<div class='auth-container'>
    <form class='card auth-form'>
      <h1 class='auth-form__title'>Вход</h1>
      {{> FormInput label='Логин' placeholder='Логин' id='login' }}
      {{> FormInput label='Пароль' placeholder='Пароль' id='password' }}
      <div class='auth-form__actions'>
        <button class='button'>Войти</button>
        <a href='#'>Нет аккаунта?</a>
      </div>
    </form>
</div>