<div class='login'>
  <form class='card login-form'>
    <h1 class='login-form__title'>Вход</h1>
    <div class='input-wrapper'>
      <label for='login' class='label'>Логин</label>
      <input placeholder='Логин' id='login' class='input' />
    </div>
    <div class='input-wrapper'>
      <label for='password' class='label'>Пароль</label>
      <input placeholder='Пароль' id='password' class='input' />
    </div>
    <div class='login-form__actions'>
      <button class='button'>Войти</button>
      <a href='#'>Нет аккаунта?</a>
    </div>
  </form>
</div>