.select-chat {
    width: 100%;
    display: grid;
    place-content: center;
}

.select-chat__placeholder {
    color: var(--muted-foreground);
    font-size: var(--fs-lg);
    font-weight: 400;
    text-align: center;
    user-select: none;
}
