<div class='auth-container'>
  <form class='card auth-form'>
    <h1 class='auth-form__title'>Регистрация</h1>
    {{> FormInput label='Имя' placeholder='Имя' id='first_name' }}
    {{> FormInput label='Фамилия' placeholder='Фамилия' id='second_name' }}
    {{> FormInput label='Логин' placeholder='Логин' id='login' }}
    {{> FormInput label='Email' placeholder='pochta@yandex.ru' id='email' }}
    {{> FormInput label='Пароль' placeholder='Пароль' id='password' }}
    <div class='auth-form__actions'>
      <button class='button'>Создать аккаунт</button>
      <a href='#'>Войти</a>
    </div>
  </form>
</div>