.search-wrapper {
    width: 100%;
    position: relative;
}

.search-icon {
    width: 16px;
    height: 16px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke: var(--muted-foreground);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 0.5rem;
    pointer-events: none;
}

.search-input {
    padding-left: 2rem;
}