.wrapper {
    border: 1px solid var(--border);
    padding: 1rem;
    border-radius: var(--radius-md);
    max-width: var(--max-width-md);
    position: relative;
}

.message {
    font-weight: 500;
}

.time {
    color: var(--muted-foreground);
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    user-select: none;
}

.icon {
    width: 1rem;
    height: 1rem;
}