<div class='app-container'>
  {{> Sidebar chats=chats }}
  <main class="profile">
    <header class="profile-header">
      <nav class="profile-nav">
        <a href="/profile" class="profile-link active">Профиль</a>
        <a href="/account" class="profile-link">Аккаунт</a>
      </nav>
    </header>
    <div class="profile-main">
      <div class="profile-update card">
        <div class="profile-update__avatar">
          {{> Avatar width='80' height='80'}}
          <div>
            <h1 class="profile-name">Алексей Ложкин</h1>
            <button class="button button-primary">Сменить фото</button>
          </div>
        </div>
        <form class="profile-form">
          {{> FormInput label='Логин' placeholder='Логин' id='login' }}
          {{> FormInput label='Email' placeholder='pochta@yandex.ru' id='email' }}
          {{> FormInput label='Телефон' placeholder='+7 (999) 999-99-99' id='email' }}
          {{> FormInput label='Имя' placeholder='Имя' id='first_name' }}
          {{> FormInput label='Фамилия' placeholder='Фамилия' id='second_name' }}
          {{> FormInput label='Отображаемое имя' placeholder='Отображаемое имя' id='display_name' }}
          <button class="button button-primary">Обновить профиль</button>
        </form>
      </div>
    </div>
  </main>
</div>