<div class="chat-list">
  {{#each chats}}
    <a href="#" class="chat no-wrap">
      {{> Avatar width='56' height='56'}}
      <div class="chat__info">
        <div class="chat__row no-wrap">
          <h4 class="chat__user-title no-wrap">{{this.title}}</h4>
          <time class="chat__message-time">{{this.messageTime}}</time>
        </div>
        <div class="chat__row no-wrap">
          <p class="chat__last-message no-wrap">{{this.lastMessage}}</p>
          {{#if this.unreadCount}}
            <span class="chat__unread-count">{{this.unreadCount}}</span>
          {{/if}}
        </div>
      </div>
    </a>
  {{/each}}
</div>