.chat-list {
    width: 100%;
    max-height: calc(100dvh - var(--header-height));
    overflow-y: auto;
}

.chat-list > * {
    text-decoration: none;
    border-radius: revert;
}

.chat {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem;
    transition: background-color 0.2s;
}

.chat:hover {
    background-color: var(--accent);
}

.chat__info {
    display: grid;
    gap: 0.25rem;
    width: 100%;
}

.chat__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.25rem;
}

.chat__user-title {
    color: var(--primary);
    font-weight: 400;
}

.chat__last-message {
    color: var(--muted-foreground);
}

.chat__message-time {
    font-size: var(--fs-xs);
    color: var(--muted-foreground)
}

.chat__unread-count {
    --size: 1.375rem;
    padding: 0 .4375rem;
    background-color: var(--new-message);
    color: var(--primary);
    border-radius: calc(var(--size) / 2);
    height: var(--size);
    min-width: var(--size);
    line-height: var(--size);
    text-align: center;
}

.no-wrap {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}