.sidebar {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--border);
    width: 100%;
    max-width: var(--max-width-xs);
    min-height: 100dvh;

    ::-webkit-scrollbar {
        width: 0.3rem;
    }
    ::-webkit-scrollbar-thumb {
        background-color: var(--accent);
        border-radius: var(--radius-md);
        visibility: hidden;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: var(--radius-md);
    }
}

.sidebar:hover {
    ::-webkit-scrollbar-thumb {
        visibility: visible;
    }
}

.sidebar-header {
    display: flex;
    padding: 0.75rem;
    gap: 0.75rem;
    border-bottom: 1px solid var(--border);
    height: var(--header-height);
}
