<div class='app-container'>
  {{> Sidebar chats=chats }}
  <main class="account">
    <header class="sidebar-header">
      <a href="/profile" class="sidebar-link">Профиль</a>
      <a href="/account" class="sidebar-link sidebar-link__active">Аккаунт</a>
    </header>
    <div class="account-main">
      <div class="account-update card">
        <form class="account-form">
          {{> FormInput label='Старый пароль' placeholder='Старый пароль' id='oldPassword' name='oldPassword' }}
          {{> FormInput label='Новый пароль' placeholder='Новый пароль' id='newPassword' name='newPassword' }}
          <button class="button button-primary">Обновить аккаунт</button>
        </form>
      </div>
    </div>
  </main>
</div>
